<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head%}
            <title>Foodfy</title>
            {% endblock%}

            <link rel="stylesheet" type="text/css" href="/style.css">
        </head>

        <body>
            <div class="page-home">

                <header>
                    <a href="/">
                        <img src="/materials/logo.png" alt="Imagem de Foodfy">
                    </a>
                    <div class="menu">
                        <a href="/sobre">Sobre</a>
                        <a href="/receitas">Receitas</a>
                    </div>
                </header>

                {% block content %}{% endblock %}

                <footer>
                    <p>Todos direitos resarvados, receitas Foodfy</p>
                </footer>

            </body>
</html>