{% extends "layout.njk" %}

{% block head %}
    <title>Erro 404</title>
{% endblock %}

{% block content %} 
        <div class="wrapper">
            <img src="materials/chef.png" alt="Imagem de chefe">
            <div class="wrapper-content">
                <h1>Erro 404</h1>
                <p>
                    A página que você busca, não existe. Verifique se sua busca está correta.
                </p>
            </div>
        </div>
    </div>
    
    

{% endblock %}