{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Sobre</title>
{% endblock %}

{% block content %}

    <div class="sobre">

        <h2>{{about.title}}</h2>

        <p>{{about.paragraph}}</p>

        <p>{{about.paragraph2}}</p>

        <h1>{{about.title2}}</h1>

        <p>{{about.paragraph3}}</p>

        <p>{{about.paragraph4}}</p>

        <h1>{{about.title3}}</h1>

        <p>{{about.paragraph5}}</p>

    </div>

</div>

{% endblock %}